In [ ]:
pip install matplotlib

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltgit status

In [4]:
visits = pd.read_csv('Visits.csv', sep=';')

In [6]:
visits.head(3)

         date   shop_id  stuff_id  Month
0  13.07.2021  OF003018  OFFMR048      7
1  20.07.2021  OF003018  OFFMR048      7
2  27.07.2021  OF003018  OFFMR048      7

In [19]:
visit_count_by_month = visits.groupby(['shop_id','stuff_id','Month']).count()

In [23]:
visit_count_by_month.head(3)

                         date
shop_id  stuff_id Month
OF000015 OFFMR039 10        1
                  11        5
                  12        4

In [8]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104961 entries, 0 to 104960
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      104961 non-null  object
 1   shop_id   104961 non-null  object
 2   stuff_id  104961 non-null  object
 3   Month     104961 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.2+ MB

In [9]:
guide = pd.read_csv('Guide_shop_address.csv', sep=';')

In [12]:
guide.head(3)

   shop_id_sales   shop_id shop_name
0          45832  OF000086         C
1          45282  OF000090         C
2          37533  OF000106         C

In [11]:
guide.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2950 entries, 0 to 2949
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   shop_id_sales  2950 non-null   int64
 1   shop_id        2950 non-null   object
 2   shop_name      2950 non-null   object
dtypes: int64(1), object(2)
memory usage: 69.3+ KB

In [13]:
sales = pd.read_csv('Sales.csv', sep=';')

In [17]:
sales.head(3)

,Month,Shop_id_sales,ChainName,FedDistrict,FedSubject,City_village,Other_Sales,Self_sales
0,10,27880,A,CFO,33,1,"47,98","3,64"
1,10,27894,A,CFO,40,1,"48,8","3,12"
2,10,27897,A,NWFO,47,0,"76,44","5,07"

In [16]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379943 entries, 0 to 379942
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          379943 non-null  int64
 1   Shop_id_sales  379943 non-null  int64
 2   ChainName      379943 non-null  object
 3   FedDistrict    379943 non-null  object
 4   FedSubject     379943 non-null  object
 5   City_village   379943 non-null  int64
 6   Other_Sales    379943 non-null  object
 7   Self_sales     379943 non-null  object
dtypes: int64(3), object(5)
memory usage: 23.2+ MB